/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles if needed, but primarily use Tailwind classes */
body {
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  /* Fallback to your defined font stack */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  /* A light background color */
}

/* Optional: Scroll behavior for smooth scrolling on anchor links */
html {
  scroll-behavior: smooth;
}